# Node
node_modules/
npm-debug.log*
.env
.env.*

# Vite / build
dist/
/build/

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/
